#scrollableDiv {
  width: 100%;
  overflow: auto;

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: none !important;
    border-radius: 10px !important;
  }

  &::-webkit-scrollbar-thumb {
    background: #02decc !important;
    border-radius: 10px !important;
  }
}

.new {
  background: #a6f3ed;
}

.seen {
  background: #fff;
}

.selected {
  background: linear-gradient(165deg, rgba(0, 0, 0, 0) 70%, #50e8db 100%);
}

.JobAdsList__ListItem {
  position: relative;
  padding: 2rem 0 2rem 1rem;
  transition: all 0.2s;
  border-bottom: 2px solid hsl(120, 23%, 95%);

  &:hover {
    transform: translateY(-2px);
    // background: ${props =>
    //   props.selected
    //     ? `#eee linear-gradient(165deg, rgba(0,0,0,0) 70%, ${
    //         props.theme.green3
    //       } 100%)`
    //     : '#eee'};
    box-shadow: 0 3px 3px #50e8db;
  }

  &.__item-info {
    display: flex;
    align-items: center;

    &.__header {
      font-size: 18px;
    }
  }
}
